<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>
	<h1 class="example-app-name">Rx Operators</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<mat-list-item class="parent">
				<span class="full-width">Operators</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : true}">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : true}">
				<mat-list-item class="parent">
					<span class="full-width">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : true}">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : true}">
					<mat-list-item (click)="onSwitchMap()" >SwitchMap</mat-list-item>
					<mat-list-item (click)="onCombineLatest()">CombineLatest</mat-list-item>
				</div>
			</div>
		</mat-nav-list>
		<mat-nav-list>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="data">
		<mat-grid-list cols="1" rowHeight="100px">
			<mat-grid-tile>

				<mat-card>Input1
					<mat-slide-toggle [(ngModel)]="isStream1Start"
						(ngModelChange)="inputStream1StateChange(isStream1Start)">Start</mat-slide-toggle>

					<mat-list class="inline-list">

						<mat-list-item class="horizontal-mat-list-item" *ngFor="let item of input1Items"> {{item}}
						</mat-list-item>
					</mat-list>
				</mat-card>

			</mat-grid-tile>
			<mat-grid-tile>
				<mat-card>Input2

					<mat-slide-toggle [(ngModel)]="isStream2Start"
						(ngModelChange)="inputStream2StateChange(isStream2Start)">Start</mat-slide-toggle>
					<mat-list class="inline-list">

						<mat-list-item class="horizontal-mat-list-item" *ngFor="let item of input2Items"> {{item}}
						</mat-list-item>
					</mat-list>

				</mat-card>

			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile>
				<mat-card>Output

					<mat-list class="inline-list">

						<mat-list-item class="horizontal-mat-list-item" *ngFor="let item of outputItems"> {{item}}
						</mat-list-item>
					</mat-list>

				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-sidenav-content>

</mat-sidenav-container>